<div id="sidebar">
    <div class="inner">

        {{!-- Search [DOES NOT WORK]
        <section id="search" class="alt">
            <form id="query_form">
                <input type="text" name="query" id="query" placeholder="Search"/>
            </form>
        </section>
        --}}

        {{!-- Menu (id=menu too so accordion nested links work) --}}
        <nav class="menu" id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul class="links">
                {{!-- Nav - partials/navigation.hbs --}}
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}

                {{!-- Subscribe button --}}
                {{#if @labs.members}}
                  <li><a href="#subscribe">Subscribe</a></li>
                {{/if}}

                {{!-- Other stuff --}}
                <li>
                    <span class="opener">Other Stuff</span>
                    <ul>
                        <li><a href="#"><i class="fas fa-book"></i> Stuff Worth Reading</a></li>
                        <li><a href="#"><i class="fas fa-ticket-alt"></i> Stuff Worth Watching</a></li>
                        <li><a href="#"><i class="fas fa-microphone-alt"></i> Stuff Worth Listening to</a></li>
                        <li><a href="#"><i class="fas fa-gamepad"></i> Stuff Worth Playing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        {{!-- Topic Categories --}}
        <nav class="menu">
            <header class="major">
                <h2>Topic Categories</h2>
            </header>
            <ul class="links">
                {{#if @site.secondary_navigation}}
                    {{navigation type="secondary"}}
                {{/if}}
            </ul>
        </nav>

        {{!-- Recent posts --}}
        <section>
            <header class="major">
                <h2>Recent Posts</h2>
            </header>
            <div class="mini-posts">
                {{!-- We're just grabbing the 3 latest posts here but you can change
                this to filter for a specific tag or order depending on what you want.
                More info: https://docs.ghost.org/api/handlebars-themes/helpers/get/ --}}
                {{#get "posts" limit="3" as |mini_post|}}
                {{#foreach mini_post}}
                <article>
                    <h3><a href="{{url}}">{{title}}</a></h3>
                    <p>{{excerpt words="15"}}</p>
                </article>
                {{/foreach}}
                {{/get}}
            </div>
        </section>

        {{!-- Contact --}}
        {{#get "posts" slug="contact"as |contact|}}
        {{#if contact}}{{#foreach contact}}
        <section>
            <header class="major">
                <h2>{{title}}</h2>
            </header>
            {{content}}
        </section>
        {{/foreach}}{{/if}}
        {{/get}}

        {{!-- Footer --}}
        <footer id="footer">
            <p class="copyright">&copy; {{@site.title}} - All rights reserved<br>
                Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
        </footer>

    </div>
    <a id="sidebartgl" href="#sidebar" class="toggle"><i class="fas fa-bars"></i></a>
</div>