{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Index background image (if used) --}}
<header class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-background.hbs partial to generate the background image--}}
        <div class="inner">
            <div class="site-header-content">
                <h1 class="site-title">
                    {{#if @site.logo}}
                        <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </h1>
                <h2 class="site-description">{{@site.description}}</h2>
            </div>
            <span class="caption"><em><a href="http://www.mccallstudios.com/the-prologue-and-the-promise/">The Prologue and The Promise</a></em> by Robert McCall</span>
        </div>
    </div>
</header>

{{> "site-info"}}

{{!-- Featured Post --}}
{{#is "home"}}
    {{#get "posts" filter="featured:true" limit="1" as |featured_post|}}
        {{#foreach featured_post}}
            {{> "post-card-featured"}}
        {{/foreach}}
    {{/get}}
{{/is}}

{{!-- Posts --}}
<section class="index-recent-posts-section">

    <header class="major">
        <h2>Recent posts</h2>
    </header>

    <section class="posts">
        {{#foreach posts}}
			{{> "post-card-normal"}}
        {{/foreach}}
    </section>

</section>

{{!-- Pagination --}}
{{pagination}}

