{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the post --}}
<section>

    <header class="main content">
        <span class="date">
			<span class="date-label">Published:</span> {{date published_at format="MMMM D, YYYY"}} ({{date published_at timeago="true"}})
			{{#if updated_at}}
				<span class="date-label">Updated:</span> {{date updated_at format="MMMM D, YYYY"}} ({{date updated_at timeago="true"}})
			{{/if}}
		</span>
        <h1>{{title}}</h1>
		<p class="content">{{reading_time}} 
        {{#if custom_excerpt}}
            &ndash; {{custom_excerpt}}
        {{/if}}
		</p>
    </header>

    {{#if feature_image}}
    <div class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></div>
    {{/if}}

	<hr />

    <div class="content">
        {{content}}
    </div>
	
	{{#if tags}}
	<span class="tags">
		{{#foreach tags}}
		<div class="chip">
			<a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}"><div class="chip-content">{{name}}</div></a>
		</div>
		{{/foreach}}
	</span>
	{{/if}}
	
	{{!-- {{#if tags}} on {{tags separator=" | "}}{{/if}} --}}
	

    {{!-- Email subscribe form at the bottom of the page --}}
    {{#if @labs.subscribers}}
    <section class="subscribe-form">
        <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
        <p>Get the latest posts delivered right to your inbox</p>
        {{subscribe_form placeholder="youremail@example.com"}}
    </section>
    {{/if}}


    {{#is "post"}}
        <footer class="post-footer">
            {{#if tags}}
            <aside class="post-tags">
                <span class="post-info-label">{{t "Topic"}}</span>
                {{tags separator=" "}}
            </aside>
            {{/if}}


            <div class="post-share">
                <span class="post-info-label">{{t "Share"}}</span>
                <a href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
                   class="icon fa-twitter" title="Twitter"><span class="label">Twitter</span>
                </a>

                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                   onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;"
                   class="icon fa-facebook" title="Facebook"><span class="label">Facebook</span>
                </a>

                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}/&amp;title={{title}}"
                   onclick="window.open(this.href, 'linkedin-share', 'width=930,height=720');return false;"
                   class="icon fa-linkedin" title="LinkedIn"><span class="label">LinkedIn</span>
                </a>
            </div>

            
                <div class="authors">
                    {{#foreach authors}}
                    <a class="author-box" href="{{url}}">
                        {{#if profile_image}}
                        <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                        {{/if}}
                        <section class="author-box-content">
                            <div class="author-box-label">Author</div>
                            <h5 class="author-box-name">{{name}}</h5>
                            {{#if bio}}
                            <p>{{bio}}</p>
                            {{else}}
                            <p>Read more posts by this author.</p>
                            {{/if}}
                        </section>
                    </a>
                    {{/foreach}}
                </div>
            
        </footer>
    {{/is}}

    {{!-- Email subscribe form at the bottom of the page 
    {{#if @labs.members}}
        {{> subscribe-form}}
    {{/if}} --}}

    {{!--
    <section class="post-full-comments">
        If you want to embed comments, this is a good place to do it!
    </section>
    --}}

</section>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {{#if primary_tag}}
            {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
                {{#if related_posts}}
                <article class="read-next-card">
                    <header class="read-next-card-header">
                        {{#../primary_tag}}
                        <h3><span>More in</span> <a href="{{url}}">{{name}}</a></h3>
                        {{/../primary_tag}}
                    </header>
                    <div class="read-next-card-content">
                        <ul>
                            {{#foreach related_posts}}
                            <li>
                                <h4><a href="{{url}}">{{title}}</a></h4>
                                <div class="read-next-card-meta">
                                    <p><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> –
                                        {{reading_time}}</p>
                                </div>
                            </li>
                            {{/foreach}}
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}}</a>
                    </footer>
                </article>
                {{/if}}
            {{/get}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#next_post}}
                {{> "post-card-normal"}}
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
                {{> "post-card-normal"}}
            {{/prev_post}}
        </div>
    </div>
</aside>

{{/post}}

<script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
</script>
